### <font color='blue'> Import the libraries </font>

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score

### <font color='blue'> Read the preprocessed data </font>

In [14]:
data=pd.read_csv('/home/trabeya/cse_ml/data/train_prep.csv')

### <font color="blue"> Split the data into train set and val set</font>

In [15]:
y=data[['label']].values

In [16]:
X=data.drop('label',axis=1).values

In [17]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25)

In [18]:
accuracy=[]
for i in range(1, 40):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, y_train)
    pred_i = knn.predict(X_val)
    accuracy.append(accuracy_score(y_val,pred_i))

In [12]:
plt.figure(figsize=(12, 6))
plt.plot(range(1, 40), accuracy, color='red', linestyle='dashed', marker='o',
         markerfacecolor='blue', markersize=10)
plt.title('K Value vs Accuracy')
plt.xlabel('K Value')
plt.ylabel('Acccuracy')

### <font color='blue'> K=5 is the bes choice for K </font>

### <font color='blue'> Training the data with full data </font>

In [19]:
test_prep=pd.read_csv('/home/trabeya/cse_ml/data/test_prep.csv')

In [20]:
classifier = KNeighborsClassifier(n_neighbors=5)

In [21]:
classifier.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [22]:
test_predictions = classifier.predict(test_prep)

In [23]:
submission=pd.DataFrame(test_predictions,columns=['prediction'])

In [24]:
for i in range(len(submission)):
    if submission['prediction'][i]==0:
        submission['prediction'][i]=1
    else:
        submission['prediction'][i]=0

In [25]:
submission.head()

   prediction
0           1
1           1
2           1
3           1
4           1

In [26]:
test=pd.read_csv('/home/trabeya/cse_ml/data/test.csv')

In [27]:
test.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare
0,213284604,10.5,924,42,2.4486,148,2/1/2020 0:38,2/1/2020 0:53,6.83454,79.8750,6.77490,79.8840,289.27
1,213286352,10.5,4249,20,0.0000,91,2/1/2020 1:02,2/1/2020 2:13,6.91168,79.8723,6.55091,79.9706,1912.70
2,213293973,10.5,1552,255,2.6588,23,2/1/2020 5:02,2/1/2020 5:28,6.92145,79.8478,6.90539,79.8989,394.00
3,213294622,10.5,462,16,0.0000,198,2/1/2020 5:30,2/1/2020 5:38,6.77433,79.9416,6.80401,79.9407,154.32
4,213298687,10.5,814,392,12.3692,69,2/1/2020 7:00,2/1/2020 7:14,6.97968,79.9130,6.98875,79.8914,147.47

In [28]:
submission['tripid']=test.tripid

In [29]:
final_submition=submission[['tripid','prediction']]

In [30]:
final_submition.head()

      tripid  prediction
0  213284604           1
1  213286352           1
2  213293973           1
3  213294622           1
4  213298687           1

In [31]:
final_submition.to_csv('/home/trabeya/cse_ml/data/final_submition_knn.csv',index=False)